<html>
<h1 style="color:green;text-align:center;">Seeds: Farmville Meets Kiva</h1>
<p> Microfinancing has seen exponential growth as entrepreneurs in developing countries in need of financing move away from seeking money from large loans (hundreds of thousands of dollars) from a single lender to much smaller loans (typically in $25 increments) from many lenders. It has enabled these entrepreneurs who don't have a line of credit to tap into the wealth of those in developed countries, ultimately empowering them to lead fulfilling lives and leave a positive social impact on their surrounding communities. </p>

<p>However, with explosive growth comes a fair share of systematic inefficiencies and problems. Issues such as donor fatigue - the phenomenon where people stop giving, most commonly because they don't see the impact of their money/time/efforts - and the lack of social accountability plague the industry. Current micro-finance initiatives do not allow interactions between lenders and borrowers, and among lenders themselves. Lenders like to see the impact of their investments, but current solutions limit the lenderborrower relationship to a short description and occasional notifications that repayments have been made. Lenders also like to share these happenings with their friends, but again, current initiatives do not allow for this level of engagement.</p>
</html>
