// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.hmenu {
  list-style: none;
  float: right;
  margin: 0 0 2em;
  padding: 0;
}

ul.hmenu li {
  display: block;  
}

ul.hnavigation {
  list-style: none;
  float: left;
  margin: 0 0 2em;
  padding: 0;
}

ul.hnavigation li {
  display: block;
}
