<h1>Listing lenders</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Credit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lenders.each do |lender| %>
  <tr>
    <td><%= lender.first_name %></td>
    <td><%= lender.last_name %></td>
    <td><%= lender.credit %></td>
  </tr>
<% end %>
</table>

