<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>

</p>

<p>
  Through Seeds, you have lend out $:
</p>

<p>
Want to lend more? Please do so through our <%= link_to 'PayPal', purchase_express_path %> Account. 
</p>
<%= link_to 'Back', lenders_path %>

